@{
    ViewData["Title"] = "Dating Application";
}

@model DateMe.Models.ApplicationResponse

<h1>Fill Out Dating Applicaiton</h1>

<div>
    <form method="post">
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" /><br />

        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" /><br />

        <label asp-for="Age">Age:</label>
        <input asp-for="Age" /><br />

        <label asp-for="Phone">Phone:</label>
        <input asp-for="Phone" /><br />

        <label asp-for="Major">Major:</label>
        <input asp-for="Major" /><br />

        <label asp-for="CreeperStalker">CreeperStalker:</label>
        <select asp-for="CreeperStalker">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <button type="submit">Submit Application</button>
    </form>
</div>